.footer__section {
    padding: 120px 0;
    margin-top: 80px;
    background-color: #0B265A;

    
    @media screen and (max-width: 768px) {
        padding: 60px 0;
    }

    .footer__items {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
            row-gap: 50px;
        }

        .footer__logo_item {

            .footer__text {
                margin-top: 13px;
                max-width: 186px;
                font-size: 16px;
                line-height: 28px;
                font-family: $textFontFamily;
                color: #D9DBDE;
            }

            .footer__social_icons {
                display: flex;
                align-items: center;
                column-gap: 24px;
                margin-top: 40px;

                .footer__icon {
                    a {
                        img {
                            transition: .2s ease;

                            &:hover {
                                margin-top: -15px;
                            }
                        }
                    }
                }
            }
        }

        .footer__links_items {
            display: flex;
            justify-content: space-between;
            column-gap: 24px;
            width: 53%;

            @media screen and (max-width: 1024px) {
                width: 65%;
            }
            @media screen and (max-width: 768px) {
                display: flex;
                flex-wrap: wrap;
                row-gap: 50px;
            }

            .links_item_title {
                font-size: 16px;
                font-weight: 700;
                color: #ffffff;
            }

            ul {
                li {
                    a {
                        display: block;
                        padding-top: 24px;
                        color: #D9DBDE;
                        transition: .2s ease;

                        &:hover{
                            color: $textBlue
                        }
                    }
                }

                .create {
                    margin-top: 30px;

                    span{
                        font-weight: 700;
                    }
                }
            }
        }
    }
}